<%- include('../partials/header') %>

<form id="trip-edit-form" action="/trips/<%= trip._id %>?_method=PATCH" method="POST">
    <label class="form-label">Trip Name:</label>
    <div class="mb-3">
        <input class="form-control form-text" type="text" name="tripName" required value="<%= trip.tripName %>">
    </div>
    <label class="form-label">Trip Start Date:</label>
    <div class="mb-3">
        <input class="form-control" type="text" name="tripStartDate" required value="<%= trip.tripStartDate.toLocaleDateString() %>">
    </div>  
    <label class="form-label">Trip End Date:</label>
    <div class="mb-3">
        <input class="form-control" type="date" name="tripEndDate" required value="<%= trip.tripEndDate %>">
    </div>
    <label class="form-label">Trip Description:</label>
    <div class="mb-3">
        <textarea class="form-control form-text" type="text" name="tripDesc" required><%= trip.tripDesc %></textarea>
    </div>
    <input type="submit" value="Edit Trip">
    <!-- </fieldset> -->
</form>

<%- include('../partials/footer') %>