<%- include('../partials/header') %>
    
    <% trips.forEach(trip => { %>
        <article>
            <h4><%= trip.tripName %></h4>
            <div><%= trip.tripStartDate.toLocaleDateString() %> - <%= trip.tripEndDate.toLocaleDateString() %></div>
            <div><%= trip.tripDesc %></div>
            <a href="/trips/<%= trip.id %>">See Details</a>
        </article>
    <% })%>

<%- include('../partials/footer') %>