<%- include('../partials/header') %>
<section>
    <div class="date"><%= trip.tripStartDate.toLocaleDateString() %> - <%= trip.tripEndDate.toLocaleDateString() %></div>
    <div class="trip-desc"><%= trip.tripDesc %></div>
    <div class="mb-3">
        <% if(trip.owner) {%>
        <strong>Created by: </strong><%= trip.owner.name %>
        <% } %>
    </div>
    <div class="trip-lists">
        <div class="attendees card">
            <div class="card-header">Attendees:</div>
            <table class="w-100">
                <tbody>
                    <% if (trip.attendees.length) { %>
                        <% trip.attendees.forEach(att => { %>
                            <%= att.name %><br>
                            <%= att.email %>
                        <% }) %>

                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="tasks card">
            <div class="card-header">Tasks:</div>
            <table class="w-100">
                <tbody>
                    <% if (trip.tasks.length) { %>
                        <% trip.tasks.forEach(task => { %>
                            <tr class="align-top p-1 task-items">
                                <td class="col px-2"> - </td>
                                <td class="col text-start w-100"><%= task.item %></td>
                                <td class="col p-1"><small><%= task.createdAt.toLocaleDateString() %></small></td>
                                <td class="col w-auto py-1">
                                    <% if (trip.owner?._id.equals(user?._id)) { %>
                                        <form action="/tasks/<%= trip._id%>/<%=task._id%>?_method=DELETE" method="POST">
                                            <input type="submit" class="btn btn-outline-danger btn-sm" value="X">
                                        </form>
                                    <% } %>
                                </td>
                            </tr>
                        <% }) %>

                    <% } else { %>
                        <tr class="p-1">
                            <td class="secondary-text" colspan="4">No Tasks Added Yet</td>
                        </tr>
                    <% } %>
                    <% if (trip.owner?._id.equals(user?._id)) { %>
                        <tr>
                            <td class="col px-2"> - </td>
                            <td class="col" colspan="2">
                                <form action="/tasks/<%= trip._id%>" method="POST">
                                    <input type="text" name="item" class="w-100 text-start">
                            </td>
                            <td class="col py-1">
                                    <input type="submit" value="Add">
                                </form>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="trip-update-btns">
        <% if (trip.owner?._id.equals(user?._id)) { %>
            <a href="/trips/<%= trip._id %>/edit" class="btn btn-outline-warning btn-sm">
                Edit Trip
            </a>
            <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
                <input class="btn btn-outline-danger btn-sm" type="submit" value="Delete Trip"></input>
            </form>
        <% } %>
    </div> 
</section>
<hr>
<!-- comments form  -->
<section>
    <h5>Comments</h5>
    <% if (user) { %>
        <form action="/comments/<%= trip._id%>" method="POST" class="col-md-6 offset-md-3">
            <label class="form-label">Add A Comment: </label>
            <textarea type="text" name="comment"></textarea>
            <input type="submit" class="btn btn-outline-info btn-sm" value="Add">
        </form>
    <% }%>
    <!-- comments section -->
    <% if (trip.comments.length) { %>
        <div class="comments-layout">
            <% trip.comments.forEach(comm => { %>
                <div class="shadow mb-3">
                    <div class="p-3"><img class="user-avatar" src="<%= comm.author.avatar %>"></div>
                    <div class="text-start p-3 user">
                        <strong><%= comm.author.name %></strong>
                        <br>
                        <%= comm.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="col text-start py-3"><%= comm.comment %></div>
                    <div class="text-center comment-delete">
                        <% if (comm.author?._id.equals(user?._id)) { %>
                            <form action="/comments/<%= trip._id%>/<%= comm.id %>?_method=DELETE"
                            method="POST">
                                <input type="submit" class="btn btn-outline-danger btn-sm" value="X">
                            </form>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <h6>No Comments Yet</h6>
    <% } %>
</section>

<%- include('../partials/footer') %>