<%- include('../partials/header') %>
<section>
    <div><%= trip.tripStartDate.toLocaleDateString() %> - <%= trip.tripEndDate.toLocaleDateString() %></div>
    <div><%= trip.tripDesc %></div>
    <div><%= trip.owner %></div>
    <div><strong>Participants:</strong></div>
    <div><%= trip.members %></div>
    <div><strong>Tasks:</strong></div>
    <div><%= trip.tasks %></div>

    <% if (trip.owner?._id.equals(user?._id)) { %>
        <a href="/trips/<%= trip._id %>/edit">
            Edit Trip
        </a>
    <% } %>
    <!-- add comments form  -->

    <% if (trip.comments.length) { %>
        <h5>Comments</h5>
        <div><% trip.comments.forEach(comment => { %>
            <div>Name</div>
            <div>Date Created</div>
            <div><%= comment %>></div>
        <% }) %></div>
    <% } else { %>
        <h5>No Comments Yet</h5>
    <% }%>
</section>

<%- include('../partials/footer') %>