<%- include('../partials/header') %>
<section class="show-trip-details">
    <div><%= trip.tripStartDate.toLocaleDateString() %> - <%= trip.tripEndDate.toLocaleDateString() %></div>
    <div><%= trip.tripDesc %></div>
    <% if(trip.owner) {%>
        <div><strong>Created by: </strong></div>
        <div><%= trip.owner.name %></div>
    <% } %>
    <div><strong>Participants:</strong></div>
    <div><%= trip.members %></div>
    <div><strong>Tasks:</strong></div>
    <% if (trip.tasks.length) { %>
        <ul>
            <% trip.tasks.forEach(task => { %>
                <li>
                <%= task.item %> - <small><%= task.createdAt.toLocaleDateString() %></small>
                    <% if (trip.owner?._id.equals(user?._id)) { %>
                    <form action="/tasks/<%= trip._id%>/<%=task._id%>?_method=DELETE" method="POST">
                        <input type="submit" class="btn btn-outline-danger" value="X">
                    </form>
                <% } %>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <h6>No Tasks Added Yet</h6>
    <% } %>
    <% if (trip.owner?._id.equals(user?._id)) { %>
        <!-- add task form -->
        <form action="/tasks/<%= trip._id%>" method="POST">
            <label>Add A Task</label>
            <input type="text" name="item">
            <input type="submit" value="Add Task">
        </form>
        <div class="trip-update-btns">
            <a href="/trips/<%= trip._id %>/edit" class="btn btn-outline-warning btn-sm">
                Edit Trip
            </a>
            <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
                <input class="btn btn-outline-danger btn-sm" type="submit" value="Delete"></input>
            </form>
            <% } %>
        </div> 
</section>
<hr>
<!-- comments form  -->
<section>
    <h5>Comments</h5>
    <% if (user) { %>
        <form action="/comments/<%= trip._id%>" method="POST" class="col-md-6 offset-md-3">
            <fieldset>
                <label class="form-label">Add A Comment: </label>
                <input type="text" name="comment">
                <input type="submit" class="btn btn-info" value="Add">
            </fieldset>
        </form>
    <% }%>
    <!-- comments section -->
    <% if (trip.comments.length) { %>
        <table class="table">
            <tbody >
                <% trip.comments.forEach(comm => { %>
                <tr class="card shadow comments-layout w-100">
                    <td class="col align-middle"><img src="<%= comm.author.avatar %>"></td>
                    <td class="col align-middle"><strong><%= comm.author.name %></strong></td>
                    <td class="col align-middle"><%= comm.comment %> - 
                    <small><%= comm.createdAt.toLocaleDateString() %></small></td>
                    <% if (comm.author?._id.equals(user?._id)) { %>
                        <td class="col align-middle ">
                            <form action="/comments/<%= trip._id%>/<%= comm.id %>?_method=DELETE"
                            method="POST">
                                <input type="submit" class="btn btn-outline-danger btn-sm" value="X">
                            </form>
                        </td>
                    <% } %>
                <% }) %>
                </tr>
            </tbody>
        </table>
    <% } else { %>
        <h6>No Comments Yet</h6>
    <% } %>
</section>

<%- include('../partials/footer') %>